@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");

/* I - ELEMENTS SPECIFIQUES */
/* Mise en page d'éléments qui ne respectent pas la structure générale du site (partie II) */

#grid, #repr
{
	background-color: rgb(128,64,64);
	border: 3px #F8E6E0 solid;
	width: 327px;
	height: 327px;    
	margin-top: 2em;
	margin-bottom: 2em;
}

td[class*="grid2"], td[class*="grid"]{
	width: 30px;
	height: 30px;
}

td, th
{
	border-collapse: collapse;
}

.rien
{
	background-color: #F8E6E0;
}

.vide
{
	background-color: rgb(0,0,0);
}

.button_color{
	width : 15px;
	height: 20px;
}

.blue, #blue{
	background-color: rgb(0,64,128);
}

.red, #red{
	background-color: rgb(255,0,0);
}

.orange, #orange{
	background-color: rgb(255,128,0);
}

.green, #green{
	background-color: rgb(128,255,0);
}

.purple, #purple{
	background-color: rgb(128,0,128);
}

.pink, #pink{
	background-color: rgb(255,128,192);
}

button[class="historique"]{    
	margin-top: 2em;
	margin-bottom: 2em;
}

.text_black{
	color: black;
}

#temps{
	font-size: 2.5em;
	font-weight: : bold;
	border: 5px black solid;
	color: black;
}

#partie{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 10em;
}

.center{
	margin: auto;
}

.message_erreur, #message_erreur, #message_aide, #message_repr{
	color: red;
	font-size: 1em;
}

#play {
	margin-top: 2em;
}

/* II - ENSEMBLES D'ELEMENTS */
/* Pour retrouver plus facilement une partie voici le plan de cette partie:
	1 - Wrapper (ligne 126)
		A - Sidebar (133)
			a - Menu (186)
			b - Footer (245)
		B - Main (253)
			a - Banner (312)
			b - Features (345)
			c - Section / Article (439)
			d - Form (467)

	2 - Header (508)

	3 - Autre (520)
		A - Illustations (522)
			a - Icon (524)
			b - Image (552)
		B - List (587)
		C - Tables (595)
		D - Button (617)
		E - Autres (689)

*/

	/* 1 - WRAPPER */
	
	#wrapper {
		display: flex;
		flex-direction: row-reverse;
		min-height: 100vh; }

		/* A - SIDEBAR */ 

		#sidebar {
			transition: margin-left 0.5s ease, box-shadow 0.5s ease;
			background-color: #f5f6f7;
			font-size: 0.9em;
			position: relative;
			width: 26em; }
		#sidebar h2 {
			font-size: 1.38889em; }
		#sidebar > .inner {
			padding: 2.22222em 2.22222em 2.44444em 2.22222em ;
			position: relative;
			width: 26em; }
			#sidebar > .inner > * {
				border-bottom: solid 2px rgba(210, 215, 217, 0.75);
				margin: 0 0 3.5em 0;
				padding: 0 0 3.5em 0; }
				#sidebar > .inner > * > :last-child {
					margin-bottom: 0; }
				#sidebar > .inner > *:last-child {
					border-bottom: 0;
					margin-bottom: 0;
					padding-bottom: 0; }
	 
		@media screen and (max-width: 1680px) {
			#sidebar {
				width: 24em; }
				#sidebar > .inner {
					padding: 1.66667em 1.66667em 1.33333em 1.66667em ;
					width: 24em; } }
		@media screen and (max-width: 1280px) {
			#sidebar {
				box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.175);
				height: 100%;
				left: 0;
				position: fixed;
				top: 0;
				z-index: 10000; }
				#sidebar > .inner {
					height: 100%;
					left: 0;
					overflow-x: hidden;
					overflow-y: auto;
					position: absolute;
					top: 0; }
					#sidebar > .inner:after {
						content: '';
						display: block;
						height: 4em;
						width: 100%; }}


			/* a - Menu */
			#menu ul {
				user-select: none;
				color: #3d4449;
				font-family: "Roboto Slab", serif;
				font-weight: 400;
				letter-spacing: 0.075em;
				list-style: none;
				margin-bottom: 0;
				padding: 0;
				text-transform: uppercase; }
			#menu ul a, #menu ul span {
				border-bottom: 0;
				color: inherit;
				cursor: pointer;
				display: block;
				font-size: 0.9em;
				padding: 0.625em 0; }
				#menu ul a:hover {
					color: #f56a6a; }
				#menu ul a.opener, #menu ul span.opener {
					transition: color 0.2s ease-in-out;
					text-decoration: none;
					position: relative; }
					#menu ul a.opener:before, #menu ul span.opener:before {
						display: inline-block;
						font-style: normal;
						font-variant: normal;
						text-rendering: auto;
						line-height: 1;
						text-transform: none !important;
						font-family: 'Font Awesome 5 Free';
						font-weight: 900; }
					#menu ul a.opener:hover:before, #menu ul span.opener:hover:before {
						color: #f56a6a; }
					#menu ul a.opener.active + ul, #menu ul span.opener.active + ul {
						display: block; }
					#menu ul a.opener.active:before, #menu ul span.opener.active:before {
						transform: rotate(-180deg); }

			#menu > ul > li {
				border-top: solid 1px rgba(210, 215, 217, 0.75);
				margin: 0.5em 0 0 0;
				padding: 0.5em 0 0 0; }
				#menu > ul > li > ul {
					color: #9fa3a6;
					margin: 0.5em 0 1.5em 0;
					padding-left: 1em; }
					#menu > ul > li > ul a, #menu > ul > li > ul span {
						font-size: 0.8em; }
					#menu > ul > li > ul > li {
						margin: 0.125em 0 0 0;
						padding: 0.125em 0 0 0; }
				#menu > ul > li:first-child {
					border-top: 0;
					margin-top: 0;
					padding-top: 0; }


			/* b- Footer */
			
			#footer .copyright {
				color: #9fa3a6;
				font-size: 0.9em; }
			#footer .copyright a {
				color: inherit; }

		/* B - MAIN */

		#main {
			flex-shrink: 1;
			width: 100%; }
		#main > .inner {
			padding: 0 6em 0.1em 6em ;
			margin: 0 auto;
			max-width: 110em; 
			display: flex;
			justify-content: center;
			flex-direction: column; }
			#main > .inner > section {
				padding: 6em 0 4em 0 ;
				border-top: solid 2px rgba(210, 215, 217, 0.75); }
				#main > .inner > section:first-of-type {
					border-top: 0 !important; }
		@media screen and (max-width: 1680px) {
			#main > .inner {
				padding: 0 5em 0.1em 5em ; }
				#main > .inner > section {
					padding: 5em 0 3em 0 ; } }
		@media screen and (max-width: 1280px) {
			#main > .inner {
				padding: 0 4em 0.1em 4em ; }
				#main > .inner > section {
					padding: 4em 0 2em 0 ; } }
		@media screen and (max-width: 736px) {
			#main > .inner {
				padding: 0 2em 0.1em 2em ; }
				#main > .inner > section {
					padding: 3em 0 1em 0 ; } }
		#main > .inner2 {
			padding: 0 6em 0.1em 6em ;
			margin: 0 auto;
			max-width: 110em; 
			display: flex;
			justify-content: center; }
			#main > .inner2 > section {
				padding: 6em 0 4em 0 ;
				border-top: solid 2px rgba(210, 215, 217, 0.75); }
				#main > .inner2 > section:first-of-type {
					border-top: 0 !important; }
		@media screen and (max-width: 1680px) {
			#main > .inner2 {
				padding: 0 5em 0.1em 5em ; }
				#main > .inner2 > section {
					padding: 5em 0 3em 0 ; } }
		@media screen and (max-width: 1280px) {
			#main > .inner2 {
				padding: 0 4em 0.1em 4em ; }
				#main > .inner2 > section {
					padding: 4em 0 2em 0 ; } }
		@media screen and (max-width: 736px) {
			#main > .inner2 {
				padding: 0 2em 0.1em 2em ; }
				#main > .inner2 > section {
					padding: 3em 0 1em 0 ; } }

			/* a - Banner */
			#banner {
				padding: 6em 0 4em 0 ;
				display: flex; }
			#banner h1 {
				margin-top: -0.125em; }
			#banner .content {
				width: 50%; }
			#banner .image {
				display: block;
				margin: 0em 0 0em 10em; 
				width: 35%; } 
			#banner .image img {
					height:  auto; 
					object-position: center;
					width: 80%; }
			@media screen and (orientation: portrait) {
				#banner {
					flex-direction: column-reverse; }
					#banner h1 br {
						display: none; }
					#banner .content {
						width: 100%; }
					#banner .image {
						margin: 0 0 4em 0;
						height: 25em;
						max-height: 50vh;
						min-height: 18em;
						width: 100%; } }
			@media screen and (orientation: portrait) and (max-width: 480px) {
				#banner .image {
					max-height: 35vh; } }

			/* b - Features */
			.features {
				display: flex;
				flex-wrap: wrap;
				margin: 0 0 2em 0;
				width: calc(100% + 3em); }
				.features article {
					display: flex;
					margin: 0 0 3em 3em;
					position: relative;
					width: calc(50% - 3em); }
					.features article:nth-child(2n - 1) {
						margin-right: 1.5em; }
					.features article:nth-child(2n) {
						margin-left: 1.5em; }
					.features article:nth-last-child(1), .features article:nth-last-child(2) {
						margin-bottom: 0; }
					.features article .icon {
						flex-grow: 0;
						flex-shrink: 0;
						display: block;
						height: 10em;
						line-height: 10em;
						margin: 1.5em 2em 0 0;
						text-align: center;
						width: 10em; }
						.features article .icon:before {
							color: #f56a6a;
							font-size: 2.75rem;
							position: relative;
							top: 0.05em; }
						.features article .icon:after {
							transform: rotate(45deg);
							border-radius: 0.25rem;
							border: solid 2px rgba(210, 215, 217, 0.75);
							content: '';
							display: block;
							height: 7em;
							left: 50%;
							margin: -3.5em 0 0 -3.5em;
							position: absolute;
							top: 50%;
							width: 7em; }
					.features article .content {
						flex-grow: 1;
						flex-shrink: 1;
						width: 100%; }
						.features article .content > :last-child {
							margin-bottom: 0; }
				@media screen and (max-width: 980px) {
					.features {
						margin: 0 0 2em 0;
						width: 100%; }
						.features article {
							margin: 0 0 3em 0;
							width: 100%; }
							.features article:nth-child(2n - 1) {
								margin-right: 0; }
							.features article:nth-child(2n) {
								margin-left: 0; }
							.features article:nth-last-child(1), .features article:nth-last-child(2) {
								margin-bottom: 3em; }
							.features article:last-child {
								margin-bottom: 0; }
							.features article .icon {
								height: 8em;
								line-height: 8em;
								width: 8em; }
								.features article .icon:before {
									font-size: 2.25rem; }
								.features article .icon:after {
									height: 6em;
									margin: -3em 0 0 -3em;
									width: 6em; } }
				@media screen and (max-width: 480px) {
					.features article {
						flex-direction: column;
						align-items: flex-start; }
						.features article .icon {
							height: 6em;
							line-height: 6em;
							margin: 0 0 1.5em 0;
							width: 6em; }
							.features article .icon:before {
								font-size: 1.5rem; }
							.features article .icon:after {
								height: 4em;
								margin: -2em 0 0 -2em;
								width: 4em; } }
				@media screen and (max-width: 480px) {
					.features article .icon:before {
						font-size: 1.25rem; } }


			/* c - Section/Article */
			header p {
				font-family: "Roboto Slab", serif;
				font-size: 1em;
				font-weight: 400;
				letter-spacing: 0.075em;
				margin-top: -0.5em;
				text-transform: uppercase; }

			header.major > :last-child {
				border-bottom: solid 3px #f56a6a;
				display: inline-block;
				margin: 0 0 2em 0;
				padding: 0 0.75em 0.5em 0; }

			header.major2 > :last-child {
				border-bottom: solid 3px #f56a6a;
				display: inline-block;
				margin: 0 0 2em 0;
				padding: 0 0.75em 0.5em 0; }

			header.major2  {
				display: flex;
				justify-content: center;}

			header.main > :last-child {
				margin: 0 0 1em 0; }

			/* d - Form */
			form {
				margin: 0 0 2em 0; }

			label {
				color: #3d4449;
				display: block;
				font-size: 0.9em;
				font-weight: 600;
				margin: 0 0 1em 0; }

			input[type="text"],
			input[type="password"],
			select {
				background: #ffffff;
				border-radius: 0.375em; /* Supp */
				border: solid 1px rgba(210, 215, 217, 0.75);
				color: inherit;
				display: block;
				outline: 0; 
				padding: 0 1em;
				width: 100%;
				height: 2.75em;  }
				input[type="text"]:focus,
				input[type="password"]:focus,
				select:focus{
					border-color: #f56a6a;
					box-shadow: 0 0 0 1px #f56a6a; }

			select {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(210, 215, 217, 0.75)' /%3E%3C/svg%3E");
				background-size: 1.25em;
				background-repeat: no-repeat;
				background-position: calc(100% - 1em) center;
				height: 2.75em;
				padding-right: 2.75em;
				text-overflow: ellipsis; }
				select option {
					color: #3d4449;
					background: #ffffff; }

	/* 2 - HEADER */
	#header {
		display: flex;
		border-bottom: solid 5px #f56a6a;
		padding: 3em 0 3em 0;
		position: relative;
		justify-content: center;}
	#header > img {
		max-width: 30%;
	}


	/* 3 - AUTRES */

		/* A - Illustrations */

			/* a - Icon */
			.icon {
			text-decoration: none;
			border-bottom: none;
			position: relative; }
			.icon:before {
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;
				text-transform: none !important;
				font-family: 'Font Awesome 5 Free';
				font-weight: 400; }
			.icon > .label {
				display: none; }
			.icon:before {
				line-height: inherit; }
			.icon.solid:before {
				font-weight: 900; }
			.icon.brands:before {
				font-family: 'Font Awesome 5 Brands'; }
			.icon img {
				margin-top: 3em;
				width: 5em;
				height: auto;
			}

			/* b - Image */
			.image {
				border-radius: 0.375em;
				border: 0;
				display: inline-block;
				position: relative; }
				.image img {
					border-radius: 0.375em;
					display: block; }
				.image.left, .image.right {
					max-width: 40%; }
					.image.left img, .image.right img {
						width: 100%; }
				.image.left {
					float: left;
					padding: 0 1.5em 1em 0;
					top: 0.25em; }
				.image.right {
					float: right;
					padding: 0 0 1em 1.5em;
					top: 0.25em; }
				.image.fit {
					display: block;
					margin: 0 0 2em 0;
					width: 100%; }
					.image.fit img {
						width: 100%; }
				.image.main {
					display: block;
					margin: 0 0 3em 0;
					width: 100%; }
					.image.main img {
						width: 100%; }


		/* B - List */
		ul {
			list-style: disc;
			margin: 0 0 1em 0;
			padding-left: 1em; }
			ul li {
				padding-left: 0.5em; }

		/* C - Table */
		.highscore {
			border-collapse: collapse;
			border-spacing: 0;
			margin: 0 0 2em 0;
			width: 100%; }
			.highscore tbody tr {
				border: solid 1px rgba(210, 215, 217, 0.75);
				border-left: 0;
				border-right: 0; }
				table tbody tr:nth-child(2n + 1) {
					background-color: rgba(230, 235, 237, 0.25); }
			.highscore td {
				padding: 0.75em 0.75em; 
				text-align: center;}
			.highscore th {
				color: #3d4449;
				font-size: 1.1em;
				font-weight: 600;
				padding: 0 0.75em 0.75em 0.75em;
				text-align: center; }

		/* D - Button */
		input[type="submit"], button, .button {
			appearance: none;
			transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
			background-color: transparent;
			border-radius: 0.375em;
			border: 0;
			box-shadow: inset 0 0 0 2px #f56a6a;
			color: #f56a6a !important;
			cursor: pointer;
			display: inline-block;
			font-family: "Roboto Slab", serif;
			font-size: 0.8em;
			font-weight: 700;
			height: 3.5em;
			letter-spacing: 0.075em;
			line-height: 3.5em;
			padding: 0 2.25em;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			white-space: nowrap; }
		input[type="submit"]:hover,
		button:hover,
		.button:hover {
				background-color: rgba(245, 106, 106, 0.05); }
			input[type="submit"]:active,
			button:active,
			.button:active {
				background-color: rgba(245, 106, 106, 0.15); }
			input[type="submit"].icon:before,
			button.icon:before,
			.button.icon:before {
				margin-right: 0.5em; }
			input[type="submit"].fit,
			button.fit,
			.button.fit {
				width: 100%; }
			input[type="submit"].small,
			button.small,
			.button.small {
				font-size: 0.6em; }
			input[type="submit"].large,
			button.large,
			.button.large {
				font-size: 1em;
				height: 3.65em;
				line-height: 3.65em; }
			input[type="submit"].primary,
			button.primary,
			.button.primary {
				background-color: #f56a6a;
				box-shadow: none;
				color: #ffffff !important; }
				input[type="submit"].primary:hover,
				button.primary:hover,
				.button.primary:hover {
					background-color: #f67878; }
				input[type="submit"].primary:active,
				button.primary:active,
				.button.primary:active {
					background-color: #f45c5c; }
			input[type="submit"].disabled, 
			input[type="submit"]:disabled,
			button.disabled,
			button:disabled,
			.button.disabled,
			.button:disabled {
				pointer-events: none;
				opacity: 0.25; }


		/* E - Autres */
		html, body, div, span, h1, h2, h3, h4, p, a, img, strong, em, ul, li, form, label, table, tr, th, td, article, aside, footer, header, menu, nav, section {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline; }

		article, aside, footer, header,menu, nav, section {
			display: block; }

		ul {
			list-style: none; }

		input, select {
			appearance: none; }

		@media screen and (max-width: 480px) {
			html, body {
				min-width: 320px; } }

		html {
			box-sizing: border-box; }

		*, *:before, *:after {
			box-sizing: inherit; }

		body {
			line-height: 1;
			background: #ffffff; }
			
		body, input, select {
			color: #7f888f;
			font-family: "Open Sans", sans-serif;
			font-size: 13pt;
			font-weight: 400;
			line-height: 1.65; }
			@media screen and (max-width: 1680px) {
				body, input, select, textarea {
					font-size: 11pt; } }
			@media screen and (max-width: 1280px) {
				body, input, select, textarea {
					font-size: 10pt; } }
			@media screen and (max-width: 360px) {
				body, input, select, textarea {
					font-size: 9pt; } }

		a {;
			transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
			border-bottom: dotted 1px;
			color: #f56a6a;
			text-decoration: none; }
			a:hover {
				border-bottom-color: #f56a6a;
				color: #f56a6a !important; }
				a:hover strong {
					color: inherit; }

		strong {
			color: red; /* Ajout */
			font-weight: 800; }

		em{
			font-weight: 1000; 
		}

		p {
			margin: 0 0 2em 0;
			text-align: justify; }

		aside{
			text-align: justify;
		}

		h1, h2, h3, h4 {
			color: #3d4449;
			font-family: "Roboto Slab", serif;
			font-weight: 700;
			line-height: 1.5;
			margin: 0 0 1em 0; }
			h1 a, h2 a, h3 a, h4 a {
				color: inherit;
				text-decoration: none;
				border-bottom: 0; }

		h1 {
			font-size: 2.5em; /* Ajout (modif)*/
			margin: 0 0 0.5em 0;
			line-height: 1.3; }

		h2 {
			font-size: 1.75em; }

		h3 {
			font-size: 1.25em; }

		h4 {
			font-size: 1.1em; }

		@media screen and (max-width: 1680px) {
			h1 {
				font-size: 3.5em; } }

		@media screen and (max-width: 980px) {
			h1 {
				font-size: 3.25em; } }

		@media screen and (max-width: 736px) {
			h1 {
				font-size: 2em;
				line-height: 1.4; }
			h2 {
				font-size: 1.5em; } }