<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<title>Contact</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" />
	</head>

	<body>

  		<!-- Header -->
		<header id="header">
			<img src="/static/img/logo.png" alt="Logo du site">
		</header>

		<!-- Wrapper -->
		<div id="wrapper">
			<!-- Main -->
			<div id="main">
				<div class="inner">

					<!-- Banner -->
					<section id="banner">
						<div class="content">
							<header>
								<h1> Contact </h1>
							</header>
							<p> Vous trouverez ci-dessous les informations permettant de nous contacter.</p>	
						</div>
						<span class="image">
							<img src="/static/img/contact.png" alt="contact" /> 
						</span>
					</section>


					<!-- Section -->
					<section>
						<header class="major">
							<h3>Informations</h3>
						</header>
						<p>Les fondateurs: <em>Stevan Stricot</em> et <em>Théo Saccareau</em>.<br/> 
						Deux élèves de Licence 3 Statistique et Informatique Décisionelle (SID) à l'Université Paul Sabatier (Toulouse III).</p> 
					</section>

					<!-- Section -->
					<section>
						<header class="major">
							<h3>Nos coordonnées </h3>
						</header>
						<div class="features">
							<article>
								<span class="icon">
									<img src="/static/img/mail.png" alt = "Illustration email"/>
								</span>
								<div class="content">
									<h4>Email</h4>
									Théo:
									<ul>
										<li><em>theo.saccareau@gmail.com</em></li>
										<li><em>theo.saccareau@univ-tlse3.fr</em></li>
									</ul>
									Stévan:
									<ul>
										<li><em>stricot.stevan@gmail.com</em></li>
										<li><em>stevan.stricot@univ-tlse3.fr</em></li>
									</ul>
								</div>
							</article>
							<article>
								<span class="icon">
									<img src="/static/img/tel.png" alt = "Illustration portable"/>
								</span>
								<div class="content">
									<h4>Téléphone</h4>
									Théo:
									<ul>
										<li><em>06.21.14.82.42</em></li>
									</ul>
									Stévan:
									<ul>
										<li><em>06.37.03.91.83</em></li>
									</ul>
								</div>
							</article>
						</div>
					</section>
				</div>
			</div>

			<!-- Sidebar -->
			<div id="sidebar">
				<div class="inner">
			
					<!-- Menu -->
					<nav id="menu">
						<header class="major">
							<h2>Menu</h2>
						</header>
						<ul>
							<li><a href="/accueil">Accueil</a></li>
							<li><a href="/niveau">Jouer une partie</a></li>
							<li><a href="/highscore">Highscore</a></li>
							<li><a href="/choixPartie">Revoir une partie</a></li>
							<li>
								<span class="opener">Aide</span>
								<ul>
									<li><a href="/regles">Règles du jeu</a></li>
									<li><a href="/contact">Contact</a></li>
								</ul>
							</li>								
						</ul>
					</nav>
			
					<!-- Section -->
					<section>
						<header class="major">
							<h2>A propos</h2>
						</header>
						<aside>	<em> Projet L3 SID. </em> <br/>
						L'<em>objectif</em> était de réaliser un site web en manipulant des données stockées dans une base de données Oracle. <br/>
						<em>Sujet</em>: PIXEL Factory. <br/>
						<em>Outils:</em> 
							<ul>
								<li>SGBD : Oracle</li>
								<li>Serveur Python Flask</li>
								<li>Langage côté serveur: Python - API Flask</li>
								<li>Langage côté client: Javascript (ES5), HTML 5, CSS</li>
								<li>Librairie Javascript: JQuery</li>
								<li>Navigateur: Firefox</li>
							</ul>
						</aside>
					</section>
			
			
					<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. All rights reserved. Théo Saccareau & Stévan Scricot. </p>
					</footer>
				
				</div>
			</div>
		</div>
	</body>
</html>
