<!DOCTYPE html>
<html lang="fr">
	
	<head>
		<meta charset="UTF-8" />
		<title>Fin de la partie</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" />

	</head>
	
	<body>

  		<!-- Header -->
		<header id="header">
			<img src="/static/img/logo.png" alt="Logo du site"/>
		</header>

		<!-- Wrapper -->
		<div id="wrapper">
			<!-- Main -->
			<div id="main">
				<div class="inner">

					<!-- Section -->
					<section> 
						<header class="major">
							<h3>Echec... </h3>
							<p> Malheureusement vous avez échoué, le temps imparti est écoulé. La prochaine fois c'est la bonne ! N'abandonnez pas. </p>
						</header>
						<button name="accueil" onclick="self.location.href='/accueil'"> Accueil </button>
						<button name="rejouer" onclick="self.location.href='/niveau'"> Rejouer </button>
						<button name="replay" onclick="self.location.href='/choixPartie'"> Revoir une partie </button>
						<button name="highscore" onclick="self.location.href='/highscore'"> Voir le tableau des scores </button>
					</section>
				</div>
			</div>

			<!-- Sidebar -->
			<div id="sidebar">
				<div class="inner">
				
					<!-- Section -->
					<section>
						<header class="major">
							<h2>A propos</h2>
						</header>
						<aside>	<em> Projet L3 SID. </em> <br/>
						L'<em>objectif</em> était de réaliser un site web en manipulant des données stockées dans une base de données Oracle. <br/>
						<em>Sujet</em>: PIXEL Factory. <br/>
						<em>Outils:</em> 
							<ul>
								<li>SGBD : Oracle</li>
								<li>Serveur Python Flask</li>
								<li>Langage côté serveur: Python - API Flask</li>
								<li>Langage côté client: Javascript (ES5), HTML 5, CSS</li>
								<li>Librairie Javascript: JQuery</li>
								<li>Navigateur: Firefox</li>
							</ul>
						</aside>
					</section>
			
			
					<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. All rights reserved. Théo Saccareau & Stévan Scricot. </p>
					</footer>
				
				</div>
			</div>
		</div>
	</body>
</html>
