<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8" />
		<title>Bienvenue</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" />
	</head>

	<body>

  		<!-- Header -->
		<header id="header">
			<img src="/static/img/logo.png" alt="Logo du site"/>
		</header>

		<!-- Wrapper -->
		<div id="wrapper">
			<!-- Main -->
			<div id="main">
				<div class="inner2">
				
					<!-- Section -->
					<section>
						<header class="major2">
							<h3>Bienvenue sur Pixel Factory</h3>
						</header>
  						<button name="connexion" onclick="self.location.href='/connexion'"> Se connecter </button>
						<button name="nvjoueur" onclick="self.location.href='/nvjoueur'"> Créer un compte </button>
  					</section>
  				</div>
  			</div>
  		</div>
	</body>
</html> 

