<!DOCTYPE html>
<html lang="fr">
	
	<head>
		<meta charset="UTF-8" />
		<title>Prêt ?</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" />

	</head>
	
	<body>

  		<!-- Header -->
		<header id="header">
			<img src="/static/img/logo.png" alt="Logo du site"/>
		</header>

		<!-- Wrapper -->
		<div id="wrapper">
			<!-- Main -->
			<div id="main">
				<div class="inner">

					<!-- Banner -->
					<section id="banner">
						<div class="content">
							<header>
								<h1> Présentation de la partie </h1>
							</header>
							<p> Avant que la partie commence, vous trouverez ci-dessous des informations sur la difficulté du niveau et de la figure qui a été tirée au sort. <em> Bonne chance ! </em></p>
									
						</div>
					</section>

					<!-- Section -->
					<section> 
						<header class="major">
							<h3>Informations niveau et figure:</h3>
						</header>
                       	<p> Temps pour réaliser la figure: {{content1}} secondes<br/>
                       	Temps d'affichage de l'aide: {{content2}} secondes<br/>
                       	Nombre de cases à colorier: {{content3}} <br/>
                       	Nombre de couleurs différentes: {{content4}} 
                       	</p>
					</section>


					<!-- Section -->
					<section> 
						<header class="major">
							<h3>Etes-vous prêt ?</h3>
						</header>
						<div class="content">
							<p> Le compte à rebours débutera dès que vous cliquerez sur le bouton ci-dessous. </p>
							<button name="debut" onclick="self.location.href='/partie'"> Commencer ! </button>
						</div>
					</section>
				</div>
			</div> 

			<!-- Sidebar -->
			<div id="sidebar">
				<div class="inner">
				
					<!-- Section -->
					<section>
						<header class="major">
							<h2>A propos</h2>
						</header>
						<aside>	<em> Projet L3 SID. </em> <br/>
						L'<em>objectif</em> était de réaliser un site web en manipulant des données stockées dans une base de données Oracle. <br/>
						<em>Sujet</em>: PIXEL Factory. <br/>
						<em>Outils:</em> 
							<ul>
								<li>SGBD : Oracle</li>
								<li>Serveur Python Flask</li>
								<li>Langage côté serveur: Python - API Flask</li>
								<li>Langage côté client: Javascript (ES5), HTML 5, CSS</li>
								<li>Librairie Javascript: JQuery</li>
								<li>Navigateur: Firefox</li>
							</ul>
						</aside>
					</section>
			
			
					<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. All rights reserved. Théo Saccareau & Stévan Scricot. </p>
					</footer>
				
				</div>
			</div>
		</div>
	</body>
</html>
